# Configuración de la Base de Datos
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_bd?schema=public"

# Autenticación con Clerk (Claves Públicas y Privadas)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."